*.egg-info
__pycache__/
dist/
.vscode
.idea/
.codex
.codex/
.DS_Store
runs/
wandb/
misc/rss/
misc/random_trajs/
experiments/*.sh
!experiments/slurm_experiment.sh
!experiments/start_experiment.sh
!experiments/stop_experiment.sh
!experiments/train_go2_locomotion.sh
!experiments/train_g1_locomotion.sh
!experiments/train_g1_ball.sh
!experiments/train_booster_locomotion.sh
!experiments/train_booster_ball.sh
